*{
    font-family: 'Montserrat', sans-serif; 
    box-sizing: border-box;
}
html,body{
    height: 100%;
    background-color: #E6E6FA;
}

.logo{
    height: 3rem;
    margin-top:1rem;
    margin-left:1rem;
}

.main{
    width: calc(100%-2rem);
    min-height: 90%;
    margin: 1rem 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-botones{
    width: 100%;
    text-align: center;
}

.btn{
    display: block;
    margin: 0.8rem 0;
    padding: 1.5rem 0;
    width: 40%;
    font-size: 1.1rem;
    border-radius: 20px;
    border: none;
    color: black;
    margin: 1rem auto;
    transition: 1s background;
}
.btn:hover{
    opacity: 80%;
}

.btn-jugar{
    background-color: #663a82;
    color: white;
}

.btn-palabra{
    background-color: plum; 
}

footer{
    background: #6b3fa0;
    text-align: center;
    color: white;
}

footer p{
    font-family: 'Montserrat', sans-serif; 
    font-size: 0.8rem;
    padding: 1rem;
}



/*ESTILOS PÁGINA NUEVA PALABRA*/
.main{
    //min-height: 90%;
}
.form-palabra{
    width: 100%;
    text-align: center;
}

.input-palabra{
    width: 100%;
    height: 20rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    
    background-color: transparent;
    border: none;
    resize: none;
}

.input-palabra:focus{
    outline: none;
    border: none;
}

.img-alerta{
    height: 0.8rem;
}

.alerta{
    font-size: 0.8rem;
}

.btn-horizontal{
    display: inline-block;
    margin: 0.8rem 2rem;
    width: 30%;
}



/*ESTILOS PÁGINA JUEGO*/
.container-canvas{
    width: 100%;
    height: 30rem;
    background-color: transparent;
}

.teclado-movil{
    display: none;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.fila-teclas{
    margin-bottom: 0.8rem;
}

.tecla{
    padding: 0.3rem 0.5rem;
    background-color: ghostwhite;
    color: purple;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}


@media screen and (max-width: 1023px){ 
    .btn{
        padding: 1rem 0;
    }
    
    .input-palabra{
        height: 30rem;
    }
    
    .teclado-movil{
        display: block;
    }
}

@media screen and (max-width: 767px){ 
    .btn{
        width: 80%;
    }
    
    .input-palabra{
        margin-bottom: 1rem;
    }
    
    .btn-horizontal{
        width: 35%;
        padding: 0.8rem 0;
        border-radius: 8px;
        margin: 0.8rem 1rem;
    }
}

@media screen and (max-width: 480px){ 
    .btn-horizontal{
        width: 100%;
        margin: 0.5rem 0;
    }
}